recursive-include qsprpred test_files/data/*.*
recursive-include qsprpred test_data/*.*
recursive-include qsprpred *.tsv
recursive-include qsprpred *.json
recursive-include qsprpred *.txt
recursive-include qsprpred *.md
